
@page "/BasicCore/ParameterPage"
@using FiyiRequirements.Areas.BasicCore.Repositories;
@inject ParameterRepository parameterRepository;

<PageTitle>Query Parameter - FiyiRequirements</PageTitle>

<FiyiRequirements.Components.Layout.NavBarVerticalDashboard lstMenuResult="lstMenuResult"></FiyiRequirements.Components.Layout.NavBarVerticalDashboard>

<div class="main-content position-relative max-height-vh-100 h-100">
    <FiyiRequirements.Components.Layout.NavBarHorizontalDashboard></FiyiRequirements.Components.Layout.NavBarHorizontalDashboard>
    <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url('assets/img/illustrations/Landscape2.jpg');">
            <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="card-header mb-0 pb-0 bg-white">
                <h1 class="mb-3">
                    Query parameter
                </h1>
                <NavLink class="btn btn-outline-info" href="Dashboard">
                    <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    &nbsp;Go back
                </NavLink>
                <NavLink class="btn btn-success text-white" href="BasicCore/ParameterPage/0">
                    <span class="fas fa-plus" aria-hidden="true"></span>
                    &nbsp;Create parameter
                </NavLink>
            </div>
            <div class="card-body px-0">
                <p class="mb-3 text-danger">@ErrorMessage</p>
                <p class="mb-3 text-success">@SuccessMessage</p>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <!--Searchbox-->
                        <input type="search" @oninput="SearchText"
                               class="form-control"
                               placeholder="Search parameter by name..." />
                        <br />
                        <!--Strict or lax search-->
                        <div>
                            <h6><b>Strict or lax search</b></h6>
                            <div class="form-check form-switch">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="strict-search"
                                       @bind="checkStrict"
                                       id="strict-search" />
                                <label class="form-check-label"
                                       for="strict-search">
                                    Strict search
                                </label>
                            </div>
                        </div>
                        <br />
                        <h6><b>View type</b></h6>
                        <div class="btn-group mb-3" role="group" aria-label="btngroup">
                            <button type="button" 
                                class="btn bg-gradient-primary"
                                onclick=@(() => ChangeView("table"))>
                                <i class="fas fa-table"></i>
                                Table
                            </button>
                            <button type="button" 
                                class="btn bg-gradient-primary"
                                onclick=@(() => ChangeView("list"))>
                                <i class="fas fa-th-list"></i>
                                Cards
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="row">
                            <div class="d-flex justify-content-end">
                                <!--Export buttons-->
                                <button type="button"
                                        @onclick="ConvertToExcel"
                                        class="btn btn-outline-info ml-4 mb-4">
                                    <i class="fas fa-file"></i>
                                    Export to Excel
                                </button>
                                <button type="button"
                                        @onclick="ConvertToCSV"
                                        class="btn btn-outline-warning mb-4 mx-3">
                                    <i class="fas fa-file"></i>
                                    Export to CSV
                                </button>
                                <button type="button"
                                        @onclick="ConvertToPDF"
                                        class="btn btn-outline-success mb-4">
                                    <i class="fas fa-file"></i>
                                    Export to PDF
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-end">
                                <!--Download buttons-->
                                @if (ShowDownloadButtonForExcel)
                                {
                                    <a class="btn btn-info mb-4"
                                       href="@DownloadPathForExcel"
                                       download>
                                        <i class="fas fa-download"></i>
                                        Descargar
                                    </a>
                                }
                                @if (ShowDownloadButtonForCSV)
                                {
                                    <a class="btn btn-warning mb-4 mx-3"
                                       href="@DownloadPathForCSV"
                                       download>
                                        <i class="fas fa-download"></i>
                                        Descargar
                                    </a>
                                }
                                @if (ShowDownloadButtonForPDF)
                                {
                                    <a class="btn btn-success mb-4"
                                       href="@DownloadPathForPDF"
                                       download>
                                        <i class="fas fa-download"></i>
                                        Descargar
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!--Table-->
                <h6><b>Number of registers: @TotalRows</b></h6>
                @if (ChosenView == "table")
                {
                    <table class="table table-striped table-hover table-bordered table-responsive mt-4">
                        <thead>
                            <tr>
                                <th>ParameterId</th>
                                <th>Active</th>
                                <th>DateTimeCreation</th>
                                <th>DateTimeLastModification</th>
                                <th>UserCreationId</th>
                                <th>UserLastModificationId</th>
                                <th>Name</th>
                                <th>Value</th>
                                <th>IsPrivate</th>
                                
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (paginatedParameterDTO != null)
                            {
                                @foreach (Parameter? parameter in paginatedParameterDTO.lstParameter)
                                {
                                    <tr>
                                        <td>@parameter?.ParameterId</td>
                                        <td>@parameter?.DateTimeCreation</td>
                                        <td>@parameter?.DateTimeLastModification</td>
                                        <td>@parameter?.UserCreationId</td>
                                        <td>@parameter?.UserLastModificationId</td>
                                        <td>@parameter?.Name</td>
                                        <td>@parameter?.Value</td>
                                        @if (@parameter!.IsPrivate)
{
    <td>
        <span class="badge rounded-pill bg-success">ON</span>
    </td>
}
else
{
    <td>
        <span class="badge rounded-pill bg-danger">OFF</span>
    </td>
}
                                        
                                        <td>
                                            <div class="nav-item">
                                                <button class="btn btn-sm btn-outline-danger"
                                                        onclick=@(() => Delete(parameter!.ParameterId))>
                                                    <span class="fas fa-trash" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <div class="nav-item mt-2">
                                                <a class="btn btn-sm btn-outline-info"
                                                   href="BasicCore/ParameterPage/@parameter?.ParameterId">
                                                    <span class="fas fa-pen" aria-hidden="true"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    @if (paginatedParameterDTO != null)      
                    {
                        @foreach (Parameter? parameter in paginatedParameterDTO.lstParameter)
                        {
                            <div class="card shadow-lg mt-2">
                                <div class="card-body">
                                        <p><b>ParameterId: </b>@parameter?.ParameterId</p>
                                        <p><b>DateTimeCreation: </b>@parameter?.DateTimeCreation</p>
                                        <p><b>DateTimeLastModification: </b>@parameter?.DateTimeLastModification</p>
                                        <p><b>UserCreationId: </b>@parameter?.UserCreationId</p>
                                        <p><b>UserLastModificationId: </b>@parameter?.UserLastModificationId</p>
                                        <p><b>Name: </b>@parameter?.Name</p>
                                        <div><b>Value: </b>@parameter?.Value</div>
                                        @if (@parameter!.IsPrivate)
{
    <p>
        <b>IsPrivate: </b>
        <span class="badge rounded-pill bg-success">
            ON
        </span>
    </p>
}
else
{
    <p>
        <b>IsPrivate: </b>
        <span class="badge rounded-pill bg-danger">
            OFF
        </span>
    </p>
}
                                        
                                </div>
                                <div class="card-footer text-body-secondary">
                                    <div class="row">
                                        <div class="col-10">
                                            &nbsp;
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-lg btn-outline-danger"
                                                    onclick=@(() => Delete(parameter!.ParameterId))>
                                                <span class="fas fa-trash" aria-hidden="true"></span>
                                            </button>
                                            <a class="btn btn-lg btn-outline-info"
                                                href="BasicCore/ParameterPage/@parameter?.ParameterId">
                                                <span class="fas fa-pen" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item
                        @(paginatedParameterDTO!.HasPreviousPage ? "" : "disabled")">
                            <button class="page-link"
                                    disabled="@(!paginatedParameterDTO.HasPreviousPage)"
                                    @onclick="() => OnPreviousPage()">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                        </li>
                        @for (int i = 1; i <= paginatedParameterDTO.TotalPages; i++)
                        {
                            int currentPage = i;
                            <li class="page-item
                            @(i == paginatedParameterDTO.PageIndex ? "active" : "")">
                                <button class="page-link"
                                        onclick=@(() => OnPageSelected(currentPage))>
                                    @i
                                </button>
                            </li>
                        }
                        <li class="page-item
                        @(paginatedParameterDTO.HasNextPage ? "" : "disabled")">
                            <button class="page-link"
                                    disabled="@(!paginatedParameterDTO.HasNextPage)"
                                    @onclick="() => OnNextPage()">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <FiyiRequirements.Components.Layout.FooterDashboard></FiyiRequirements.Components.Layout.FooterDashboard>
</div>

@code {
    #region Properties
    public List<Menu> lstMenuResult { get; set; } = [];

    public int TotalRows { get; set; } = 0;

    public string? ChosenView { get; set; }

    public bool checkStrict { get; set; }

    public string TextToSearch { get; set; } = "";

    public string ErrorMessage { get; set; } = "";

    public string SuccessMessage { get; set; } = "";

    public bool ShowDownloadButtonForExcel { get; set; }
    public bool ShowDownloadButtonForPDF { get; set; }
    public bool ShowDownloadButtonForCSV { get; set; }

    public string? DownloadPathForExcel { get; set; }
    public string? DownloadPathForPDF { get; set; }
    public string? DownloadPathForCSV { get; set; }

    public User? User;

    public Parameter? Parameter;

    paginatedParameterDTO? paginatedParameterDTO;
    #endregion

    protected override void OnInitialized()
    {
        try
        {
            //Look for saved user in shared component, simulates a session
            User = StateContainer.User == null ? new() : StateContainer.User;

            lstMenuResult = [];

            paginatedParameterDTO = new();
            paginatedParameterDTO.lstParameter = [];

            if (User != null)
            {
                if (User.UserId != 0)
                {
                    //Logged user
                    if (User.RoleId != 1) //Only Root can access
                    {
                        NavigationManager.NavigateTo("403");
                    }

                    List<Menu> lstMenu = menuRepository
                                                    .GetAll();

                    lstMenuResult = rolemenuRepository
                                            .GetAllByRoleId(User.RoleId, lstMenu);

                    paginatedParameterDTO = parameterRepository
                                                .GetAllByNamePaginated(
                                                    "",
                                                    checkStrict,
                                                    1,
                                                    15);

                    TotalRows = parameterRepository
                                        .Count();

                    ChosenView = "list";
                }
                else
                {
                    //Not logged user

                    //Redirect to...
                    NavigationManager.NavigateTo("Login");
                }
            }
            else
            {
                //Impossible
            }

            base.OnInitialized();
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }

    }

    #region Events
    private void SearchText(ChangeEventArgs args)
    {
        try
        {
            //Basic configuration
            SuccessMessage = "";

            TextToSearch = args.Value.ToString();

            paginatedParameterDTO = parameterRepository
                                        .GetAllByNamePaginated(
                                            TextToSearch,
                                            checkStrict,
                                            1,
                                            15);

            TotalRows = parameterRepository
                    .Count();

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }

    }

    private void OnPreviousPage()
    {
        if (paginatedParameterDTO.HasPreviousPage)
        {
            paginatedParameterDTO = parameterRepository
                                        .GetAllByNamePaginated(
                                            TextToSearch,
                                            checkStrict,
                                            (paginatedParameterDTO.PageIndex - 1),
                                            paginatedParameterDTO.PageSize);
        }

        TotalRows = parameterRepository
                            .Count();

        //Re-render the page
        InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private void OnPageSelected(int pageIndex)
    {
        paginatedParameterDTO = paginatedParameterDTO = parameterRepository
                                                        .GetAllByNamePaginated(
                                                            TextToSearch,
                                                            checkStrict,
                                                            pageIndex,
                                                            paginatedParameterDTO.PageSize);

        TotalRows = parameterRepository
                            .Count();

        //Re-render the page
        InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private void OnNextPage()
    {
        if (paginatedParameterDTO.HasNextPage)
        {
            paginatedParameterDTO = parameterRepository
                                        .GetAllByNamePaginated(
                                            TextToSearch,
                                            checkStrict,
                                            (paginatedParameterDTO.PageIndex + 1),
                                            paginatedParameterDTO.PageSize);
        }

        TotalRows = parameterRepository
                            .Count();

        //Re-render the page
        InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private void ChangeView(string chosenView)
    {
        ChosenView = chosenView;

        //Re-render the page
        InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private void Delete(int parameterId)
    {
        try
        {
            parameterRepository.DeleteByParameterId(parameterId);

            paginatedParameterDTO = parameterRepository
                                        .GetAllByNamePaginated(
                                            TextToSearch,
                                            checkStrict,
                                            1,
                                            15);

            TotalRows = parameterRepository
                                .Count();

            TextToSearch = "";

            SuccessMessage = "Register deleted correctly";

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }
    }
    #endregion

    #region Conversions
    private void ConvertToExcel()
    {
        try
        {
            //Set initial state
            ErrorMessage = "";

            using var Book = new XLWorkbook();

            DataTable dtParameter = new DataTable();
            dtParameter.TableName = "Parameter";

            //We define another DataTable dtParameterCopy to avoid issue related to DateTime conversion
            DataTable dtParameterCopy = new DataTable();
            dtParameterCopy.TableName = "Parameter";

            #region Define columns for dtParameterCopy
            DataColumn dtColumnParameterIdFordtParameterCopy = new DataColumn();
            dtColumnParameterIdFordtParameterCopy.DataType = typeof(string);
            dtColumnParameterIdFordtParameterCopy.ColumnName = "ParameterId";
            dtParameterCopy.Columns.Add(dtColumnParameterIdFordtParameterCopy);

            DataColumn dtColumnActiveFordtParameterCopy = new DataColumn();
            dtColumnActiveFordtParameterCopy.DataType = typeof(string);
            dtColumnActiveFordtParameterCopy.ColumnName = "Active";
            dtParameterCopy.Columns.Add(dtColumnActiveFordtParameterCopy);

            DataColumn dtColumnDateTimeCreationFordtParameterCopy = new DataColumn();
            dtColumnDateTimeCreationFordtParameterCopy.DataType = typeof(string);
            dtColumnDateTimeCreationFordtParameterCopy.ColumnName = "DateTimeCreation";
            dtParameterCopy.Columns.Add(dtColumnDateTimeCreationFordtParameterCopy);

            DataColumn dtColumnDateTimeLastModificationFordtParameterCopy = new DataColumn();
            dtColumnDateTimeLastModificationFordtParameterCopy.DataType = typeof(string);
            dtColumnDateTimeLastModificationFordtParameterCopy.ColumnName = "DateTimeLastModification";
            dtParameterCopy.Columns.Add(dtColumnDateTimeLastModificationFordtParameterCopy);

            DataColumn dtColumnUserCreationIdFordtParameterCopy = new DataColumn();
            dtColumnUserCreationIdFordtParameterCopy.DataType = typeof(string);
            dtColumnUserCreationIdFordtParameterCopy.ColumnName = "UserCreationId";
            dtParameterCopy.Columns.Add(dtColumnUserCreationIdFordtParameterCopy);

            DataColumn dtColumnUserLastModificationIdFordtParameterCopy = new DataColumn();
            dtColumnUserLastModificationIdFordtParameterCopy.DataType = typeof(string);
            dtColumnUserLastModificationIdFordtParameterCopy.ColumnName = "UserLastModificationId";
            dtParameterCopy.Columns.Add(dtColumnUserLastModificationIdFordtParameterCopy);

            DataColumn dtColumnNameFordtParameterCopy = new DataColumn();
            dtColumnNameFordtParameterCopy.DataType = typeof(string);
            dtColumnNameFordtParameterCopy.ColumnName = "Name";
            dtParameterCopy.Columns.Add(dtColumnNameFordtParameterCopy);

            DataColumn dtColumnValueFordtParameterCopy = new DataColumn();
            dtColumnValueFordtParameterCopy.DataType = typeof(string);
            dtColumnValueFordtParameterCopy.ColumnName = "Value";
            dtParameterCopy.Columns.Add(dtColumnValueFordtParameterCopy);

            DataColumn dtColumnIsPrivateFordtParameterCopy = new DataColumn();
            dtColumnIsPrivateFordtParameterCopy.DataType = typeof(string);
            dtColumnIsPrivateFordtParameterCopy.ColumnName = "IsPrivate";
            dtParameterCopy.Columns.Add(dtColumnIsPrivateFordtParameterCopy);

            
            #endregion

            dtParameter = parameterRepository.GetAllInDataTable();

            foreach (DataRow DataRow in dtParameter.Rows)
            {
                dtParameterCopy.Rows.Add(DataRow.ItemArray);
            }

            var Sheet = Book.Worksheets.Add(dtParameterCopy);

            Sheet.ColumnsUsed().AdjustToContents();

            DownloadPathForExcel = $@"wwwroot/Downloads/ExcelFiles/{DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss_fff")}.xlsx";
            Book.SaveAs(DownloadPathForExcel);

            //Delete wwwroot from path to download correctly
            DownloadPathForExcel = DownloadPathForExcel.Replace("wwwroot", "");

            ShowDownloadButtonForExcel = true;

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);

        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);
                        
            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }
    }

    private void ConvertToCSV()
    {
        try
        {
            //Set initial state
            ErrorMessage = "";

            List<Parameter?> lstParameter = parameterRepository
                                    .GetAll();

            DownloadPathForCSV = $@"wwwroot/Downloads/CSVFiles/{DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss_fff")}.csv";

            using (var Writer = new StreamWriter(DownloadPathForCSV))
            using (var CsvWriter = new CsvWriter(Writer,
                CultureInfo.InvariantCulture))
            {
                CsvWriter.WriteRecords(lstParameter);
            }

            //Delete wwwroot from path to download correctly
            DownloadPathForCSV = DownloadPathForCSV.Replace("wwwroot", "");

            ShowDownloadButtonForCSV = true;

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);             
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);
            
            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }
    }

    private void ConvertToPDF()
    {
        try
        {
            //Set initial state
            ErrorMessage = "";
            string ProjectName = "FiyiRequirements";
            string Table = "Parameter";
            var Renderer = new HtmlToPdf();
            string RowsAsHTML = "";

            List<Parameter?> lstParameter = parameterRepository
                                    .GetAll();

            DownloadPathForPDF = $@"wwwroot/Downloads/PDFFiles/{DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss_fff")}.pdf";

            foreach (Parameter? Parameter in lstParameter)
            {
                RowsAsHTML += $@"{Parameter?.ToStringOnlyValuesForHTML()}";
            }

            Renderer.RenderHtmlAsPdf($@"<table cellpadding=""0"" cellspacing=""0"" border=""0"" width=""88%"" style=""width: 88% !important; min-width: 88%; max-width: 88%;"">
    <tr>
    <td align=""left"" valign=""top"">
        <font face=""'Source Sans Pro', sans-serif"" color=""#1a1a1a"" style=""font-size: 52px; line-height: 55px; font-weight: 300; letter-spacing: -1.5px;"">
            <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #1a1a1a; font-size: 52px; line-height: 55px; font-weight: 300; letter-spacing: -1.5px;"">Mikromatica</span>
        </font>
        <div style=""height: 25px; line-height: 25px; font-size: 23px;"">&nbsp;</div>
        <font face=""'Source Sans Pro', sans-serif"" color=""#4c4c4c"" style=""font-size: 36px; line-height: 45px; font-weight: 300; letter-spacing: -1px;"">
            <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #4c4c4c; font-size: 36px; line-height: 45px; font-weight: 300; letter-spacing: -1px;"">Registers of Parameter</span>
        </font>
        <div style=""height: 35px; line-height: 35px; font-size: 33px;"">&nbsp;</div>
    </td>
    </tr>
</table>
<br>
<table cellpadding=""0"" cellspacing=""0"" border=""0"" width=""100%"" style=""width: 100% !important; min-width: 100%; max-width: 100%;"">
    <tr>
        <th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">ParameterId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">Active&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">DateTimeCreation&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">DateTimeLastModification&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">UserCreationId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">UserLastModificationId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">Name&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">Value&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">IsPrivate&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th>
    </tr>
    {RowsAsHTML}
</table>
<br>
<font face=""'Source Sans Pro', sans-serif"" color=""#868686"" style=""font-size: 17px; line-height: 20px;"">
    <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #868686; font-size: 17px; line-height: 20px;"">Printed on: {DateTime.Now}</span>
</font>
").SaveAs(DownloadPathForPDF);

            ShowDownloadButtonForPDF = true;

            //Delete wwwroot from path to download correctly
            DownloadPathForPDF = DownloadPathForPDF.Replace("wwwroot", "");

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);

        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }

    }
    #endregion
}

