
@page "/CMSCore/MenuPage"

@using FiyiRequirements.Areas.CMSCore.Repositories;
@using FiyiRequirements.Areas.CMSCore.Entities;
@using FiyiRequirements.Areas.CMSCore.DTOs;
@inject MenuRepository menuRepository;

<PageTitle>Buscar menú - FiyiRequirements</PageTitle>

<FiyiRequirements.Components.Layout.NavBarVerticalDashboard lstFoldersAndPages="lstFoldersAndPages"></FiyiRequirements.Components.Layout.NavBarVerticalDashboard>

<div class="main-content position-relative max-height-vh-100 h-100">
    <FiyiRequirements.Components.Layout.NavBarHorizontalDashboard></FiyiRequirements.Components.Layout.NavBarHorizontalDashboard>
    <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url('assets/img/illustrations/Landscape2.jpg');">
            <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="card-header mb-0 pb-0 bg-white">
                <h1 class="mb-3">
                    Buscar menú
                </h1>
                <NavLink class="btn btn-outline-info" href="Dashboard">
                    <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    &nbsp;Volver
                </NavLink>
                <NavLink class="btn btn-success text-white" href="CMSCore/MenuPage/0">
                    <span class="fas fa-plus" aria-hidden="true"></span>
                    &nbsp;Crear menú
                </NavLink>
            </div>
            <div class="card-body px-0">
                <p class="mb-3 text-danger">@ErrorMessage</p>
                <p class="mb-3 text-success">@SuccessMessage</p>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <!--Searchbox-->
                        <input type="search" @oninput="SearchText"
                               class="form-control"
                               placeholder="Buscar menú por nombre o URL..." />
                        <br />
                        <!--Strict or lax search-->
                        <div>
                            <h6><b>Búsqueda estricta o laxa</b></h6>
                            <div class="form-check form-switch">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="strict-search"
                                       @bind="checkStrict"
                                       id="strict-search" />
                                <label class="form-check-label"
                                       for="strict-search">
                                    Búsqueda estricta
                                </label>
                            </div>
                        </div>
                        <br />
                        <h6><b>Tipo de vista</b></h6>
                        <div class="btn-group mb-3" role="group" aria-label="btngroup">
                            <button type="button" 
                                class="btn bg-gradient-primary"
                                onclick=@(() => ChangeView("table"))>
                                <i class="fas fa-table"></i>
                                Tabla
                            </button>
                            <button type="button" 
                                class="btn bg-gradient-primary"
                                onclick=@(() => ChangeView("list"))>
                                <i class="fas fa-th-list"></i>
                                Cartas
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="row">
                            <div class="d-flex justify-content-end">
                                <!--Export buttons-->
                                <button type="button"
                                        @onclick="ConvertToExcel"
                                        class="btn btn-outline-info ml-4 mb-4">
                                    <i class="fas fa-file"></i>
                                    Exportar a Excel
                                </button>
                                <button type="button"
                                        @onclick="ConvertToCSV"
                                        class="btn btn-outline-warning mb-4 mx-3">
                                    <i class="fas fa-file"></i>
                                    Exportar a CSV
                                </button>
                                <button type="button"
                                        @onclick="ConvertToPDF"
                                        class="btn btn-outline-success mb-4">
                                    <i class="fas fa-file"></i>
                                    Exportar a PDF
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-end">
                                <!--Download buttons-->
                                @if (ShowDownloadButtonForExcel)
                                {
                                    <a class="btn btn-info mb-4"
                                       href="@DownloadPathForExcel"
                                       download>
                                        <i class="fas fa-download"></i>
                                        Descargar
                                    </a>
                                }
                                @if (ShowDownloadButtonForCSV)
                                {
                                    <a class="btn btn-warning mb-4 mx-3"
                                       href="@DownloadPathForCSV"
                                       download>
                                        <i class="fas fa-download"></i>
                                        Descargar
                                    </a>
                                }
                                @if (ShowDownloadButtonForPDF)
                                {
                                    <a class="btn btn-success mb-4"
                                       href="@DownloadPathForPDF"
                                       download>
                                        <i class="fas fa-download"></i>
                                        Descargar
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!--Table-->
                <h6><b>Nº de menúes: @TotalRows</b></h6>
                @if (ChosenView == "table")
                {
                    <table class="table table-striped table-hover table-bordered table-responsive mt-4">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Activo</th>
                                <th>Fecha de creación</th>
                                <th>Fecha de última modificación</th>
                                <th>Usuario creador</th>
                                <th>Último usuario modificador</th>
                                <th>Nombre</th>
                                <th>ID del menú padre</th>
                                <th>Orden</th>
                                <th>URL</th>
                                <th>Icono para la URL</th>
                                
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (paginatedMenuDTO != null)
                            {
                                @for (int i = 0; i < paginatedMenuDTO.lstMenu.Count(); i++)
                                {
                                    <tr>
                                        <td>@paginatedMenuDTO.lstMenu[i]?.MenuId</td>
                                        @if (@paginatedMenuDTO.lstMenu[i]!.Active)
                                        {
                                            <td>
                                                <span class="badge rounded-pill bg-success">Sí</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span class="badge rounded-pill bg-danger">No</span>
                                            </td>
                                        }
                                        <td>@paginatedMenuDTO.lstMenu[i]?.DateTimeCreation</td>
                                        <td>@paginatedMenuDTO.lstMenu[i]?.DateTimeLastModification</td>
                                        <td>@paginatedMenuDTO.lstUserCreation[i]?.Email</td>
                                        <td>@paginatedMenuDTO.lstUserLastModification[i]?.Email</td>
                                        <td>@paginatedMenuDTO.lstMenu[i]?.Name</td>
                                        <td>@paginatedMenuDTO.lstMenu[i]?.MenuFatherId</td>
                                        <td>@paginatedMenuDTO.lstMenu[i]?.Order</td>
                                        <td>@paginatedMenuDTO.lstMenu[i]?.URLPath</td>
                                        <td>@paginatedMenuDTO.lstMenu[i]?.IconURLPath</td>
                                        
                                        <td>
                                            <div class="nav-item">
                                                <button class="btn btn-sm btn-outline-danger"
                                                        onclick=@(() => Delete(paginatedMenuDTO.lstMenu[i]!.MenuId))>
                                                    <span class="fas fa-trash" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <div class="nav-item mt-2">
                                                <a class="btn btn-sm btn-outline-info"
                                                   href="CMSCore/MenuPage/@paginatedMenuDTO.lstMenu[i]?.MenuId">
                                                    <span class="fas fa-pen" aria-hidden="true"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    @if (paginatedMenuDTO != null)      
                    {
                        @for (int i = 0; i < paginatedMenuDTO.lstMenu.Count(); i++)
                        {
                            <div class="card shadow-lg mt-2">
                                <div class="card-body">
                                    <p><b>ID: </b>@paginatedMenuDTO.lstMenu[i]?.MenuId</p>
                                    <p><b>Fecha de creación: </b>@paginatedMenuDTO.lstMenu[i]?.DateTimeCreation</p>
                                    <p><b>Fecha de última modificación: </b>@paginatedMenuDTO.lstMenu[i]?.DateTimeLastModification</p>
                                    <p><b>Usuario creador: </b>@paginatedMenuDTO.lstUserCreation[i]?.Email</p>
                                    <p><b>Último usuario modificador: </b>@paginatedMenuDTO.lstUserLastModification[i]?.Email</p>
                                    <p><b>Nombre: </b>@paginatedMenuDTO.lstMenu[i]?.Name</p>
                                    <p><b>ID del menú padre: </b>@paginatedMenuDTO.lstMenu[i]?.MenuFatherId</p>
                                    <p><b>Orden: </b>@paginatedMenuDTO.lstMenu[i]?.Order</p>
                                    <p><b>URL: </b>@paginatedMenuDTO.lstMenu[i]?.URLPath</p>
                                    <p><b>Icono para la URL: </b>@paginatedMenuDTO.lstMenu[i]?.IconURLPath</p>
                                        
                                </div>
                                <div class="card-footer text-body-secondary">
                                    <div class="row">
                                        <div class="col-10">
                                            &nbsp;
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-lg btn-outline-danger"
                                                    onclick=@(() => Delete(paginatedMenuDTO.lstMenu[i]!.MenuId))>
                                                <span class="fas fa-trash" aria-hidden="true"></span>
                                            </button>
                                            <a class="btn btn-lg btn-outline-info"
                                               href="CMSCore/MenuPage/@paginatedMenuDTO.lstMenu[i]?.MenuId">
                                                <span class="fas fa-pen" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item
                        @(paginatedMenuDTO!.HasPreviousPage ? "" : "disabled")">
                            <button class="page-link"
                                    disabled="@(!paginatedMenuDTO.HasPreviousPage)"
                                    @onclick="() => OnPreviousPage()">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                        </li>
                        @for (int i = 1; i <= paginatedMenuDTO.TotalPages; i++)
                        {
                            int currentPage = i;
                            <li class="page-item
                            @(i == paginatedMenuDTO.PageIndex ? "active" : "")">
                                <button class="page-link"
                                        onclick=@(() => OnPageSelected(currentPage))>
                                    @i
                                </button>
                            </li>
                        }
                        <li class="page-item
                        @(paginatedMenuDTO.HasNextPage ? "" : "disabled")">
                            <button class="page-link"
                                    disabled="@(!paginatedMenuDTO.HasNextPage)"
                                    @onclick="() => OnNextPage()">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <FiyiRequirements.Components.Layout.FooterDashboard></FiyiRequirements.Components.Layout.FooterDashboard>
</div>

@code {
    #region Properties
    public List<folderForDashboard> lstFoldersAndPages = new();

    public int TotalRows { get; set; } = 0;

    public string? ChosenView { get; set; } = "list";

    public bool checkStrict { get; set; }

    public string TextToSearch { get; set; } = "";

    public string ErrorMessage { get; set; } = "";

    public string SuccessMessage { get; set; } = "";

    public bool ShowDownloadButtonForExcel { get; set; }
    public bool ShowDownloadButtonForPDF { get; set; }
    public bool ShowDownloadButtonForCSV { get; set; }

    public string? DownloadPathForExcel { get; set; }
    public string? DownloadPathForPDF { get; set; }
    public string? DownloadPathForCSV { get; set; }

    public User? User;

    public Menu? Menu;

    paginatedMenuDTO? paginatedMenuDTO;
    #endregion

    protected override void OnInitialized()
    {
        try
        {
            //Look for saved user in shared component, simulates a session
            User = StateContainer.User == null ? new() : StateContainer.User;

            lstFoldersAndPages = [];

            paginatedMenuDTO = new();
            paginatedMenuDTO.lstMenu = [];

            if (User != null)
            {
                if (User.UserId != 0)
                {
                    //Logged user
                    if (User.RoleId != 1) //Only Root can access
                    {
                        NavigationManager.NavigateTo("403");
                    }

                    List<Menu> lstMenu = menuRepository
                                                    .GetAll();

                    lstFoldersAndPages = rolemenuRepository
                                            .GetAllPagesAndFoldersForDashboardByRoleId(User.RoleId);

                    paginatedMenuDTO = menuRepository
                                                .GetAllByNameOrURLPathPaginated(
                                                    "",
                                                    checkStrict,
                                                    1,
                                                    15);

                    TotalRows = menuRepository
                                        .Count();

                    ChosenView = "list";
                }
                else
                {
                    //Not logged user

                    //Redirect to...
                    NavigationManager.NavigateTo("Login");
                }
            }
            else
            {
                //Impossible
            }

            base.OnInitialized();
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }

    }

    #region Events
    private void SearchText(ChangeEventArgs args)
    {
        try
        {
            //Basic configuration
            SuccessMessage = "";

            TextToSearch = args.Value.ToString();

            paginatedMenuDTO = menuRepository
                                        .GetAllByNameOrURLPathPaginated(
                                            TextToSearch,
                                            checkStrict,
                                            1,
                                            15);

            TotalRows = menuRepository
                    .Count();

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }

    }

    private void OnPreviousPage()
    {
        if (paginatedMenuDTO.HasPreviousPage)
        {
            paginatedMenuDTO = menuRepository
                                        .GetAllByNameOrURLPathPaginated(
                                            TextToSearch,
                                            checkStrict,
                                            (paginatedMenuDTO.PageIndex - 1),
                                            paginatedMenuDTO.PageSize);
        }

        TotalRows = menuRepository
                            .Count();

        //Re-render the page
        InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private void OnPageSelected(int pageIndex)
    {
        paginatedMenuDTO = paginatedMenuDTO = menuRepository
                                                        .GetAllByNameOrURLPathPaginated(
                                                            TextToSearch,
                                                            checkStrict,
                                                            pageIndex,
                                                            paginatedMenuDTO.PageSize);

        TotalRows = menuRepository
                            .Count();

        //Re-render the page
        InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private void OnNextPage()
    {
        if (paginatedMenuDTO.HasNextPage)
        {
            paginatedMenuDTO = menuRepository
                                        .GetAllByNameOrURLPathPaginated(
                                            TextToSearch,
                                            checkStrict,
                                            (paginatedMenuDTO.PageIndex + 1),
                                            paginatedMenuDTO.PageSize);
        }

        TotalRows = menuRepository
                            .Count();

        //Re-render the page
        InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private void ChangeView(string chosenView)
    {
        ChosenView = chosenView;

        //Re-render the page
        InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private void Delete(int menuId)
    {
        try
        {
            menuRepository.DeleteByMenuId(menuId);

            paginatedMenuDTO = menuRepository
                                        .GetAllByNameOrURLPathPaginated(
                                            TextToSearch,
                                            checkStrict,
                                            1,
                                            15);

            TotalRows = menuRepository
                                .Count();

            TextToSearch = "";

            SuccessMessage = "Register deleted correctly";

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }
    }
    #endregion

    #region Conversions
    private void ConvertToExcel()
    {
        try
        {
            //Set initial state
            ErrorMessage = "";

            using var Book = new XLWorkbook();

            DataTable dtMenu = new DataTable();
            dtMenu.TableName = "Menu";

            //We define another DataTable dtMenuCopy to avoid issue related to DateTime conversion
            DataTable dtMenuCopy = new DataTable();
            dtMenuCopy.TableName = "Menu";

            #region Define columns for dtMenuCopy
            DataColumn dtColumnMenuIdFordtMenuCopy = new DataColumn();
            dtColumnMenuIdFordtMenuCopy.DataType = typeof(string);
            dtColumnMenuIdFordtMenuCopy.ColumnName = "MenuId";
            dtMenuCopy.Columns.Add(dtColumnMenuIdFordtMenuCopy);

            DataColumn dtColumnActiveFordtMenuCopy = new DataColumn();
            dtColumnActiveFordtMenuCopy.DataType = typeof(string);
            dtColumnActiveFordtMenuCopy.ColumnName = "Active";
            dtMenuCopy.Columns.Add(dtColumnActiveFordtMenuCopy);

            DataColumn dtColumnDateTimeCreationFordtMenuCopy = new DataColumn();
            dtColumnDateTimeCreationFordtMenuCopy.DataType = typeof(string);
            dtColumnDateTimeCreationFordtMenuCopy.ColumnName = "DateTimeCreation";
            dtMenuCopy.Columns.Add(dtColumnDateTimeCreationFordtMenuCopy);

            DataColumn dtColumnDateTimeLastModificationFordtMenuCopy = new DataColumn();
            dtColumnDateTimeLastModificationFordtMenuCopy.DataType = typeof(string);
            dtColumnDateTimeLastModificationFordtMenuCopy.ColumnName = "DateTimeLastModification";
            dtMenuCopy.Columns.Add(dtColumnDateTimeLastModificationFordtMenuCopy);

            DataColumn dtColumnUserCreationIdFordtMenuCopy = new DataColumn();
            dtColumnUserCreationIdFordtMenuCopy.DataType = typeof(string);
            dtColumnUserCreationIdFordtMenuCopy.ColumnName = "UserCreationId";
            dtMenuCopy.Columns.Add(dtColumnUserCreationIdFordtMenuCopy);

            DataColumn dtColumnUserLastModificationIdFordtMenuCopy = new DataColumn();
            dtColumnUserLastModificationIdFordtMenuCopy.DataType = typeof(string);
            dtColumnUserLastModificationIdFordtMenuCopy.ColumnName = "UserLastModificationId";
            dtMenuCopy.Columns.Add(dtColumnUserLastModificationIdFordtMenuCopy);

            DataColumn dtColumnNameFordtMenuCopy = new DataColumn();
            dtColumnNameFordtMenuCopy.DataType = typeof(string);
            dtColumnNameFordtMenuCopy.ColumnName = "Name";
            dtMenuCopy.Columns.Add(dtColumnNameFordtMenuCopy);

            DataColumn dtColumnMenuFatherIdFordtMenuCopy = new DataColumn();
            dtColumnMenuFatherIdFordtMenuCopy.DataType = typeof(string);
            dtColumnMenuFatherIdFordtMenuCopy.ColumnName = "MenuFatherId";
            dtMenuCopy.Columns.Add(dtColumnMenuFatherIdFordtMenuCopy);

            DataColumn dtColumnOrderFordtMenuCopy = new DataColumn();
            dtColumnOrderFordtMenuCopy.DataType = typeof(string);
            dtColumnOrderFordtMenuCopy.ColumnName = "Order";
            dtMenuCopy.Columns.Add(dtColumnOrderFordtMenuCopy);

            DataColumn dtColumnURLPathFordtMenuCopy = new DataColumn();
            dtColumnURLPathFordtMenuCopy.DataType = typeof(string);
            dtColumnURLPathFordtMenuCopy.ColumnName = "URLPath";
            dtMenuCopy.Columns.Add(dtColumnURLPathFordtMenuCopy);

            DataColumn dtColumnIconURLPathFordtMenuCopy = new DataColumn();
            dtColumnIconURLPathFordtMenuCopy.DataType = typeof(string);
            dtColumnIconURLPathFordtMenuCopy.ColumnName = "IconURLPath";
            dtMenuCopy.Columns.Add(dtColumnIconURLPathFordtMenuCopy);

            
            #endregion

            dtMenu = menuRepository.GetAllInDataTable();

            foreach (DataRow DataRow in dtMenu.Rows)
            {
                dtMenuCopy.Rows.Add(DataRow.ItemArray);
            }

            var Sheet = Book.Worksheets.Add(dtMenuCopy);

            Sheet.ColumnsUsed().AdjustToContents();

            DownloadPathForExcel = $@"wwwroot/Downloads/ExcelFiles/{DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss_fff")}.xlsx";
            Book.SaveAs(DownloadPathForExcel);

            //Delete wwwroot from path to download correctly
            DownloadPathForExcel = DownloadPathForExcel.Replace("wwwroot", "");

            ShowDownloadButtonForExcel = true;

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);

        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);
                        
            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }
    }

    private void ConvertToCSV()
    {
        try
        {
            //Set initial state
            ErrorMessage = "";

            List<Menu> lstMenu = menuRepository
                                    .GetAll();

            DownloadPathForCSV = $@"wwwroot/Downloads/CSVFiles/{DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss_fff")}.csv";

            using (var Writer = new StreamWriter(DownloadPathForCSV))
            using (var CsvWriter = new CsvWriter(Writer,
                CultureInfo.InvariantCulture))
            {
                CsvWriter.WriteRecords(lstMenu);
            }

            //Delete wwwroot from path to download correctly
            DownloadPathForCSV = DownloadPathForCSV.Replace("wwwroot", "");

            ShowDownloadButtonForCSV = true;

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);             
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);
            
            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }
    }

    private void ConvertToPDF()
    {
        try
        {
            //Set initial state
            ErrorMessage = "";
            string ProjectName = "FiyiRequirements";
            string Table = "Menu";
            var Renderer = new HtmlToPdf();
            string RowsAsHTML = "";

            List<Menu> lstMenu = menuRepository
                                    .GetAll();

            DownloadPathForPDF = $@"wwwroot/Downloads/PDFFiles/{DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss_fff")}.pdf";

            foreach (Menu? Menu in lstMenu)
            {
                RowsAsHTML += $@"{Menu?.ToStringOnlyValuesForHTML()}";
            }

            Renderer.RenderHtmlAsPdf($@"<table cellpadding=""0"" cellspacing=""0"" border=""0"" width=""88%"" style=""width: 88% !important; min-width: 88%; max-width: 88%;"">
    <tr>
    <td align=""left"" valign=""top"">
        <font face=""'Source Sans Pro', sans-serif"" color=""#1a1a1a"" style=""font-size: 52px; line-height: 55px; font-weight: 300; letter-spacing: -1.5px;"">
            <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #1a1a1a; font-size: 52px; line-height: 55px; font-weight: 300; letter-spacing: -1.5px;"">{ProjectName}</span>
        </font>
        <div style=""height: 25px; line-height: 25px; font-size: 23px;"">&nbsp;</div>
        <font face=""'Source Sans Pro', sans-serif"" color=""#4c4c4c"" style=""font-size: 36px; line-height: 45px; font-weight: 300; letter-spacing: -1px;"">
            <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #4c4c4c; font-size: 36px; line-height: 45px; font-weight: 300; letter-spacing: -1px;"">Registers of {Table}</span>
        </font>
        <div style=""height: 35px; line-height: 35px; font-size: 33px;"">&nbsp;</div>
    </td>
    </tr>
</table>
<br>
<table cellpadding=""0"" cellspacing=""0"" border=""0"" width=""100%"" style=""width: 100% !important; min-width: 100%; max-width: 100%;"">
    <tr>
        <th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">MenuId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">Active&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">DateTimeCreation&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">DateTimeLastModification&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">UserCreationId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">UserLastModificationId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">Name&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">MenuFatherId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">Order&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">URLPath&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">IconURLPath&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th>
    </tr>
    {RowsAsHTML}
</table>
<br>
<font face=""'Source Sans Pro', sans-serif"" color=""#868686"" style=""font-size: 17px; line-height: 20px;"">
    <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #868686; font-size: 17px; line-height: 20px;"">Printed on: {DateTime.Now}</span>
</font>
").SaveAs(DownloadPathForPDF);

            ShowDownloadButtonForPDF = true;

            //Delete wwwroot from path to download correctly
            DownloadPathForPDF = DownloadPathForPDF.Replace("wwwroot", "");

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);

        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }

    }
    #endregion
}

