
@page "/CMSCore/RolePage"

@using FiyiRequirements.Areas.CMSCore.Repositories;
@using FiyiRequirements.Areas.CMSCore.Entities;
@using FiyiRequirements.Areas.CMSCore.DTOs;
@inject RoleRepository roleRepository;

<PageTitle>Buscar roles - FiyiRequirements</PageTitle>

<FiyiRequirements.Components.Layout.NavBarVerticalDashboard lstFoldersAndPages="lstFoldersAndPages"></FiyiRequirements.Components.Layout.NavBarVerticalDashboard>

<div class="main-content position-relative max-height-vh-100 h-100">
    <FiyiRequirements.Components.Layout.NavBarHorizontalDashboard></FiyiRequirements.Components.Layout.NavBarHorizontalDashboard>
    <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url('assets/img/illustrations/Landscape2.jpg');">
            <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="card-header mb-0 pb-0 bg-white">
                <h1 class="mb-3">
                    Buscar roles
                </h1>
                <NavLink class="btn btn-outline-info" href="Dashboard">
                    <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    &nbsp;Volver
                </NavLink>
                <NavLink class="btn btn-success text-white" href="CMSCore/RolePage/0">
                    <span class="fas fa-plus" aria-hidden="true"></span>
                    &nbsp;Crear rol
                </NavLink>
            </div>
            <div class="card-body px-0">
                <p class="mb-3 text-danger">@ErrorMessage</p>
                <p class="mb-3 text-success">@SuccessMessage</p>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <!--Searchbox-->
                        <input type="search" @oninput="SearchText"
                               class="form-control"
                               placeholder="Buscar rol por nombre..." />
                        <br />
                        <!--Strict or lax search-->
                        <div>
                            <h6><b>Búsqueda estricta o laxa</b></h6>
                            <div class="form-check form-switch">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="strict-search"
                                       @bind="checkStrict"
                                       id="strict-search" />
                                <label class="form-check-label"
                                       for="strict-search">
                                    Búsqueda estricta
                                </label>
                            </div>
                        </div>
                        <br />
                        <h6><b>Tipo de vista</b></h6>
                        <div class="btn-group mb-3" role="group" aria-label="btngroup">
                            <button type="button" 
                                class="btn bg-gradient-primary"
                                onclick=@(() => ChangeView("table"))>
                                <i class="fas fa-table"></i>
                                Tabla
                            </button>
                            <button type="button" 
                                class="btn bg-gradient-primary"
                                onclick=@(() => ChangeView("list"))>
                                <i class="fas fa-th-list"></i>
                                Cartas
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="row">
                            <div class="d-flex justify-content-end">
                                <!--Export buttons-->
                                <button type="button"
                                        @onclick="ConvertToExcel"
                                        class="btn btn-outline-info ml-4 mb-4">
                                    <i class="fas fa-file"></i>
                                    Exportar a Excel
                                </button>
                                <button type="button"
                                        @onclick="ConvertToCSV"
                                        class="btn btn-outline-warning mb-4 mx-3">
                                    <i class="fas fa-file"></i>
                                    Exportar a CSV
                                </button>
                                <button type="button"
                                        @onclick="ConvertToPDF"
                                        class="btn btn-outline-success mb-4">
                                    <i class="fas fa-file"></i>
                                    Exportar a PDF
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-end">
                                <!--Download buttons-->
                                @if (ShowDownloadButtonForExcel)
                                {
                                    <a class="btn btn-info mb-4"
                                       href="@DownloadPathForExcel"
                                       download>
                                        <i class="fas fa-download"></i>
                                        Descargar
                                    </a>
                                }
                                @if (ShowDownloadButtonForCSV)
                                {
                                    <a class="btn btn-warning mb-4 mx-3"
                                       href="@DownloadPathForCSV"
                                       download>
                                        <i class="fas fa-download"></i>
                                        Descargar
                                    </a>
                                }
                                @if (ShowDownloadButtonForPDF)
                                {
                                    <a class="btn btn-success mb-4"
                                       href="@DownloadPathForPDF"
                                       download>
                                        <i class="fas fa-download"></i>
                                        Descargar
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!--Table-->
                <h6><b>Nº de roles: @TotalRows</b></h6>
                @if (ChosenView == "table")
                {
                    <table class="table table-striped table-hover table-bordered table-responsive mt-4">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Activo</th>
                                <th>Fecha de creación</th>
                                <th>Fecha de última modificación</th>
                                <th>ID del usuario creador</th>
                                <th>ID del último usuario modificador</th>
                                <th>Nombre</th>
                                
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (paginatedRoleDTO != null)
                            {
                                @for (int i = 0; i < paginatedRoleDTO.lstRole.Count(); i++)
                                {
                                    <tr>
                                        <td>@paginatedRoleDTO.lstRole[i]?.RoleId</td>
                                        @if (@paginatedRoleDTO.lstRole[i]!.Active)
                                        {
                                            <td>
                                                <span class="badge rounded-pill bg-success">Sí</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span class="badge rounded-pill bg-danger">No</span>
                                            </td>
                                        }
                                        <td>@paginatedRoleDTO.lstRole[i]?.DateTimeCreation</td>
                                        <td>@paginatedRoleDTO.lstRole[i]?.DateTimeLastModification</td>
                                        <td>@paginatedRoleDTO.lstUserCreation[i]?.Email</td>
                                        <td>@paginatedRoleDTO.lstUserLastModification[i]?.Email</td>
                                        <td>@paginatedRoleDTO.lstRole[i]?.Name</td>
                                        
                                        <td>
                                            <div class="nav-item">
                                                <button class="btn btn-sm btn-outline-danger"
                                                        onclick=@(() => Delete(paginatedRoleDTO.lstRole[i]!.RoleId))>
                                                    <span class="fas fa-trash" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <div class="nav-item mt-2">
                                                <a class="btn btn-sm btn-outline-info"
                                                   href="CMSCore/RolePage/@paginatedRoleDTO.lstRole[i]?.RoleId">
                                                    <span class="fas fa-pen" aria-hidden="true"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    @if (paginatedRoleDTO != null)      
                    {
                        @for (int i = 0; i < paginatedRoleDTO.lstRole.Count(); i++)
                        {
                            <div class="card shadow-lg mt-2">
                                <div class="card-body">
                                    <p><b>ID: </b>@paginatedRoleDTO.lstRole[i]?.RoleId</p>
                                    <p><b>Fecha de creación: </b>@paginatedRoleDTO.lstRole[i]?.DateTimeCreation</p>
                                    <p><b>Fecha de última modificación: </b>@paginatedRoleDTO.lstRole[i]?.DateTimeLastModification</p>
                                    <p><b>Usuario creador: </b>@paginatedRoleDTO.lstUserCreation[i]?.Email</p>
                                    <p><b>Último usuario modificador: </b>@paginatedRoleDTO.lstUserLastModification[i]?.Email</p>
                                    <p><b>Nombre: </b>@paginatedRoleDTO.lstRole[i]?.Name</p>
                                        
                                </div>
                                <div class="card-footer text-body-secondary">
                                    <div class="row">
                                        <div class="col-10">
                                            &nbsp;
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-lg btn-outline-danger"
                                                    onclick=@(() => Delete(paginatedRoleDTO.lstRole[i]!.RoleId))>
                                                <span class="fas fa-trash" aria-hidden="true"></span>
                                            </button>
                                            <a class="btn btn-lg btn-outline-info"
                                               href="CMSCore/RolePage/@paginatedRoleDTO.lstRole[i]?.RoleId">
                                                <span class="fas fa-pen" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item
                        @(paginatedRoleDTO!.HasPreviousPage ? "" : "disabled")">
                            <button class="page-link"
                                    disabled="@(!paginatedRoleDTO.HasPreviousPage)"
                                    @onclick="() => OnPreviousPage()">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                        </li>
                        @for (int i = 1; i <= paginatedRoleDTO.TotalPages; i++)
                        {
                            int currentPage = i;
                            <li class="page-item
                            @(i == paginatedRoleDTO.PageIndex ? "active" : "")">
                                <button class="page-link"
                                        onclick=@(() => OnPageSelected(currentPage))>
                                    @i
                                </button>
                            </li>
                        }
                        <li class="page-item
                        @(paginatedRoleDTO.HasNextPage ? "" : "disabled")">
                            <button class="page-link"
                                    disabled="@(!paginatedRoleDTO.HasNextPage)"
                                    @onclick="() => OnNextPage()">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <FiyiRequirements.Components.Layout.FooterDashboard></FiyiRequirements.Components.Layout.FooterDashboard>
</div>

@code {
    #region Properties
    public List<folderForDashboard> lstFoldersAndPages = new();

    public int TotalRows { get; set; } = 0;

    public string? ChosenView { get; set; }

    public bool checkStrict { get; set; }

    public string TextToSearch { get; set; } = "";

    public string ErrorMessage { get; set; } = "";

    public string SuccessMessage { get; set; } = "";

    public bool ShowDownloadButtonForExcel { get; set; }
    public bool ShowDownloadButtonForPDF { get; set; }
    public bool ShowDownloadButtonForCSV { get; set; }

    public string? DownloadPathForExcel { get; set; }
    public string? DownloadPathForPDF { get; set; }
    public string? DownloadPathForCSV { get; set; }

    public User User;

    public Role Role;

    paginatedRoleDTO? paginatedRoleDTO;
    #endregion

    protected override void OnInitialized()
    {
        try
        {
            //Look for saved user in shared component, simulates a session
            User = StateContainer.User == null ? new() : StateContainer.User;

            lstFoldersAndPages = [];

            paginatedRoleDTO = new();
            paginatedRoleDTO.lstRole = [];

            if (User != null)
            {
                if (User.UserId != 0)
                {
                    //Logged user
                    if (User.RoleId != 1) //Only Root can access
                    {
                        NavigationManager.NavigateTo("403");
                    }

                    List<Menu> lstMenu = menuRepository
                                                    .GetAll();

                    lstFoldersAndPages = rolemenuRepository
                                            .GetAllPagesAndFoldersForDashboardByRoleId(User.RoleId);

                    paginatedRoleDTO = roleRepository
                                                .GetAllByNamePaginated(
                                                    "",
                                                    checkStrict,
                                                    1,
                                                    15);

                    TotalRows = roleRepository
                                        .Count();

                    ChosenView = "list";
                }
                else
                {
                    //Not logged user

                    //Redirect to...
                    NavigationManager.NavigateTo("Login");
                }
            }
            else
            {
                //Impossible
            }

            base.OnInitialized();
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }

    }

    #region Events
    private void SearchText(ChangeEventArgs args)
    {
        try
        {
            //Basic configuration
            SuccessMessage = "";

            TextToSearch = args.Value.ToString();

            paginatedRoleDTO = roleRepository
                                        .GetAllByNamePaginated(
                                            TextToSearch,
                                            checkStrict,
                                            1,
                                            15);

            TotalRows = roleRepository
                    .Count();

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }

    }

    private void OnPreviousPage()
    {
        if (paginatedRoleDTO.HasPreviousPage)
        {
            paginatedRoleDTO = roleRepository
                                        .GetAllByNamePaginated(
                                            TextToSearch,
                                            checkStrict,
                                            (paginatedRoleDTO.PageIndex - 1),
                                            paginatedRoleDTO.PageSize);
        }

        TotalRows = roleRepository
                            .Count();

        //Re-render the page
        InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private void OnPageSelected(int pageIndex)
    {
        paginatedRoleDTO = paginatedRoleDTO = roleRepository
                                                        .GetAllByNamePaginated(
                                                            TextToSearch,
                                                            checkStrict,
                                                            pageIndex,
                                                            paginatedRoleDTO.PageSize);

        TotalRows = roleRepository
                            .Count();

        //Re-render the page
        InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private void OnNextPage()
    {
        if (paginatedRoleDTO.HasNextPage)
        {
            paginatedRoleDTO = roleRepository
                                        .GetAllByNamePaginated(
                                            TextToSearch,
                                            checkStrict,
                                            (paginatedRoleDTO.PageIndex + 1),
                                            paginatedRoleDTO.PageSize);
        }

        TotalRows = roleRepository
                            .Count();

        //Re-render the page
        InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private void ChangeView(string chosenView)
    {
        ChosenView = chosenView;

        //Re-render the page
        InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private void Delete(int roleId)
    {
        try
        {
            roleRepository.DeleteByRoleId(roleId);

            paginatedRoleDTO = roleRepository
                                        .GetAllByNamePaginated(
                                            TextToSearch,
                                            checkStrict,
                                            1,
                                            15);

            TotalRows = roleRepository
                                .Count();

            TextToSearch = "";

            SuccessMessage = "Register deleted correctly";

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }
    }
    #endregion

    #region Conversions
    private void ConvertToExcel()
    {
        try
        {
            //Set initial state
            ErrorMessage = "";

            using var Book = new XLWorkbook();

            DataTable dtRole = new DataTable();
            dtRole.TableName = "Role";

            //We define another DataTable dtRoleCopy to avoid issue related to DateTime conversion
            DataTable dtRoleCopy = new DataTable();
            dtRoleCopy.TableName = "Role";

            #region Define columns for dtRoleCopy
            DataColumn dtColumnRoleIdFordtRoleCopy = new DataColumn();
            dtColumnRoleIdFordtRoleCopy.DataType = typeof(string);
            dtColumnRoleIdFordtRoleCopy.ColumnName = "RoleId";
            dtRoleCopy.Columns.Add(dtColumnRoleIdFordtRoleCopy);

            DataColumn dtColumnActiveFordtRoleCopy = new DataColumn();
            dtColumnActiveFordtRoleCopy.DataType = typeof(string);
            dtColumnActiveFordtRoleCopy.ColumnName = "Active";
            dtRoleCopy.Columns.Add(dtColumnActiveFordtRoleCopy);

            DataColumn dtColumnDateTimeCreationFordtRoleCopy = new DataColumn();
            dtColumnDateTimeCreationFordtRoleCopy.DataType = typeof(string);
            dtColumnDateTimeCreationFordtRoleCopy.ColumnName = "DateTimeCreation";
            dtRoleCopy.Columns.Add(dtColumnDateTimeCreationFordtRoleCopy);

            DataColumn dtColumnDateTimeLastModificationFordtRoleCopy = new DataColumn();
            dtColumnDateTimeLastModificationFordtRoleCopy.DataType = typeof(string);
            dtColumnDateTimeLastModificationFordtRoleCopy.ColumnName = "DateTimeLastModification";
            dtRoleCopy.Columns.Add(dtColumnDateTimeLastModificationFordtRoleCopy);

            DataColumn dtColumnUserCreationIdFordtRoleCopy = new DataColumn();
            dtColumnUserCreationIdFordtRoleCopy.DataType = typeof(string);
            dtColumnUserCreationIdFordtRoleCopy.ColumnName = "UserCreationId";
            dtRoleCopy.Columns.Add(dtColumnUserCreationIdFordtRoleCopy);

            DataColumn dtColumnUserLastModificationIdFordtRoleCopy = new DataColumn();
            dtColumnUserLastModificationIdFordtRoleCopy.DataType = typeof(string);
            dtColumnUserLastModificationIdFordtRoleCopy.ColumnName = "UserLastModificationId";
            dtRoleCopy.Columns.Add(dtColumnUserLastModificationIdFordtRoleCopy);

            DataColumn dtColumnNameFordtRoleCopy = new DataColumn();
            dtColumnNameFordtRoleCopy.DataType = typeof(string);
            dtColumnNameFordtRoleCopy.ColumnName = "Name";
            dtRoleCopy.Columns.Add(dtColumnNameFordtRoleCopy);

            
            #endregion

            dtRole = roleRepository.GetAllInDataTable();

            foreach (DataRow DataRow in dtRole.Rows)
            {
                dtRoleCopy.Rows.Add(DataRow.ItemArray);
            }

            var Sheet = Book.Worksheets.Add(dtRoleCopy);

            Sheet.ColumnsUsed().AdjustToContents();

            DownloadPathForExcel = $@"wwwroot/Downloads/ExcelFiles/{DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss_fff")}.xlsx";
            Book.SaveAs(DownloadPathForExcel);

            //Delete wwwroot from path to download correctly
            DownloadPathForExcel = DownloadPathForExcel.Replace("wwwroot", "");

            ShowDownloadButtonForExcel = true;

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);

        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);
                        
            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }
    }

    private void ConvertToCSV()
    {
        try
        {
            //Set initial state
            ErrorMessage = "";

            List<Role> lstRole = roleRepository
                                    .GetAll();

            DownloadPathForCSV = $@"wwwroot/Downloads/CSVFiles/{DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss_fff")}.csv";

            using (var Writer = new StreamWriter(DownloadPathForCSV))
            using (var CsvWriter = new CsvWriter(Writer,
                CultureInfo.InvariantCulture))
            {
                CsvWriter.WriteRecords(lstRole);
            }

            //Delete wwwroot from path to download correctly
            DownloadPathForCSV = DownloadPathForCSV.Replace("wwwroot", "");

            ShowDownloadButtonForCSV = true;

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);             
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);
            
            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }
    }

    private void ConvertToPDF()
    {
        try
        {
            //Set initial state
            ErrorMessage = "";
            string ProjectName = "FiyiRequirements";
            string Table = "Role";
            var Renderer = new HtmlToPdf();
            string RowsAsHTML = "";

            List<Role> lstRole = roleRepository
                                    .GetAll();

            DownloadPathForPDF = $@"wwwroot/Downloads/PDFFiles/{DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss_fff")}.pdf";

            foreach (Role? Role in lstRole)
            {
                RowsAsHTML += $@"{Role?.ToStringOnlyValuesForHTML()}";
            }

            Renderer.RenderHtmlAsPdf($@"<table cellpadding=""0"" cellspacing=""0"" border=""0"" width=""88%"" style=""width: 88% !important; min-width: 88%; max-width: 88%;"">
    <tr>
    <td align=""left"" valign=""top"">
        <font face=""'Source Sans Pro', sans-serif"" color=""#1a1a1a"" style=""font-size: 52px; line-height: 55px; font-weight: 300; letter-spacing: -1.5px;"">
            <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #1a1a1a; font-size: 52px; line-height: 55px; font-weight: 300; letter-spacing: -1.5px;"">{ProjectName}</span>
        </font>
        <div style=""height: 25px; line-height: 25px; font-size: 23px;"">&nbsp;</div>
        <font face=""'Source Sans Pro', sans-serif"" color=""#4c4c4c"" style=""font-size: 36px; line-height: 45px; font-weight: 300; letter-spacing: -1px;"">
            <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #4c4c4c; font-size: 36px; line-height: 45px; font-weight: 300; letter-spacing: -1px;"">Registers of {Table}</span>
        </font>
        <div style=""height: 35px; line-height: 35px; font-size: 33px;"">&nbsp;</div>
    </td>
    </tr>
</table>
<br>
<table cellpadding=""0"" cellspacing=""0"" border=""0"" width=""100%"" style=""width: 100% !important; min-width: 100%; max-width: 100%;"">
    <tr>
        <th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">RoleId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">Active&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">DateTimeCreation&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">DateTimeLastModification&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">UserCreationId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">UserLastModificationId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">Name&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th>
    </tr>
    {RowsAsHTML}
</table>
<br>
<font face=""'Source Sans Pro', sans-serif"" color=""#868686"" style=""font-size: 17px; line-height: 20px;"">
    <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #868686; font-size: 17px; line-height: 20px;"">Printed on: {DateTime.Now}</span>
</font>
").SaveAs(DownloadPathForPDF);

            ShowDownloadButtonForPDF = true;

            //Delete wwwroot from path to download correctly
            DownloadPathForPDF = DownloadPathForPDF.Replace("wwwroot", "");

            //Re-render the page
            InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);

        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            ErrorMessage = $@"There was a mistake. Try again.
                             Error message: {ex.Message}";
        }

    }
    #endregion
}

