
@page "/FiyiRequirements/RequirementPage"

@using FiyiRequirements.Areas.FiyiRequirements.Repositories;
@using FiyiRequirements.Areas.FiyiRequirements.Entities;
@using FiyiRequirements.Areas.FiyiRequirements.DTOs;
@inject RequirementRepository requirementRepository;
@inject RequirementStateRepository requirementStateRepository;

<PageTitle>Buscar requerimientos - FiyiRequirements</PageTitle>

<FiyiRequirements.Components.Layout.NavBarVerticalDashboard lstFoldersAndPages="lstFoldersAndPages"></FiyiRequirements.Components.Layout.NavBarVerticalDashboard>

<div class="main-content position-relative max-height-vh-100 h-100">
    <FiyiRequirements.Components.Layout.NavBarHorizontalDashboard></FiyiRequirements.Components.Layout.NavBarHorizontalDashboard>
    <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url('assets/img/illustrations/Landscape2.jpg');">
            <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="card-header mb-0 pb-0 bg-white">
                <h1 class="mb-3">
                    Buscar requerimientos
                </h1>
                <NavLink class="btn btn-outline-info" href="Dashboard">
                    <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    &nbsp;Volver
                </NavLink>
                <NavLink class="btn btn-success text-white" href="FiyiRequirements/RequirementPage/0">
                    <span class="fas fa-plus" aria-hidden="true"></span>
                    &nbsp;Crear requerimiento
                </NavLink>
            </div>
            <div class="card-body px-0">
                @((MarkupString)Message)
                <div class="row">
                    <div class="col-12 col-md-4">
                        <!--Searchbox-->
                        <input type="search" @oninput="SearchText"
                               class="form-control"
                               placeholder="Buscar requerimiento por título..." />
                        <br />
                        <!--Strict or lax search-->
                        <div>
                            <h6><b>Búsqueda estricta o laxa</b></h6>
                            <div class="form-check form-switch">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="strict-search"
                                       @bind="checkStrict"
                                       id="strict-search" />
                                <label class="form-check-label"
                                       for="strict-search">
                                    Búsqueda estricta
                                </label>
                            </div>
                        </div>
                        <h6 class="mt-3">Filtros</h6>
                        <!--RequirementStateId-->
                        <div class="mb-3">
                            <label for="requirementstateid"
                                   class="input-group input-group-static">
                                Estado
                            </label>
                            <select id="requirementstateid"
                                    class="form-control"
                                    @onchange="RequirementStateIdChanged">
                                <option value="0" selected>Seleccionar</option>
                                @foreach (FiyiRequirements.Areas.FiyiRequirements.Entities.RequirementState state in lstState)
                                {
                                    <option value="@state.RequirementStateId">@state.Name</option>
                                }
                            </select>
                        </div>
                        <br />
                        <h6><b>Tipo de vista</b></h6>
                        <div class="btn-group mb-3" role="group" aria-label="btngroup">
                            <button type="button" 
                                class="btn bg-gradient-primary"
                                onclick=@(() => ChangeView("table"))>
                                <i class="fas fa-table"></i>
                                Tabla
                            </button>
                            <button type="button" 
                                class="btn bg-gradient-primary"
                                onclick=@(() => ChangeView("list"))>
                                <i class="fas fa-th-list"></i>
                                Cartas
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="row">
                            <div class="d-flex justify-content-end">
                                <!--Export buttons-->
                                <button type="button"
                                        @onclick="ConvertToExcel"
                                        class="btn btn-outline-info ml-4 mb-4">
                                    <i class="fas fa-file"></i>
                                    Exportar a Excel
                                </button>
                                <button type="button"
                                        @onclick="ConvertToCSV"
                                        class="btn btn-outline-warning mb-4 mx-3">
                                    <i class="fas fa-file"></i>
                                    Exportar a CSV
                                </button>
                                <button type="button"
                                        @onclick="ConvertToPDF"
                                        class="btn btn-outline-success mb-4">
                                    <i class="fas fa-file"></i>
                                    Exportar a PDF
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-end">
                                <!--Download buttons-->
                                @if (ShowDownloadButtonForExcel)
                                {
                                    <a class="btn btn-info mb-4"
                                       href="@DownloadPathForExcel"
                                       download>
                                        <i class="fas fa-download"></i>
                                        Descargar
                                    </a>
                                }
                                @if (ShowDownloadButtonForCSV)
                                {
                                    <a class="btn btn-warning mb-4 mx-3"
                                       href="@DownloadPathForCSV"
                                       download>
                                        <i class="fas fa-download"></i>
                                        Descargar
                                    </a>
                                }
                                @if (ShowDownloadButtonForPDF)
                                {
                                    <a class="btn btn-success mb-4"
                                       href="@DownloadPathForPDF"
                                       download>
                                        <i class="fas fa-download"></i>
                                        Descargar
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!--Table-->
                <h6><b>Nº de requerimientos: @TotalRows</b></h6>
                @if (ChosenView == "table")
                {
                    <table class="table table-striped table-hover table-bordered table-responsive mt-4">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Activo</th>
                                <th>Fecha de creación</th>
                                <th>Fecha de última modificación</th>
                                <th>ID del usuario creador</th>
                                <th>ID del último usuario modificador</th>
                                <th>Título</th>
                                <th>Cuerpo</th>
                                <th>Estado</th>
                                <th>Prioridad</th>
                                <th>Empleado asignado</th>
                                
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (paginatedRequirementDTO != null)
                            {
                                @for (int i = 0; i < paginatedRequirementDTO.lstRequirement.Count(); i++)
                                {
                                    <tr>
                                        <td>@paginatedRequirementDTO.lstRequirement[i]?.RequirementId</td>
                                        @if (@paginatedRequirementDTO.lstRequirement[i]!.Active)
                                        {
                                            <td>
                                                <span class="badge rounded-pill bg-success">ON</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span class="badge rounded-pill bg-danger">OFF</span>
                                            </td>
                                        }
                                        <td>@paginatedRequirementDTO.lstRequirement[i]?.DateTimeCreation</td>
                                        <td>@paginatedRequirementDTO.lstRequirement[i]?.DateTimeLastModification</td>
                                        <td>@paginatedRequirementDTO.lstRequirement[i]?.UserCreationId</td>
                                        <td>@paginatedRequirementDTO.lstRequirement[i]?.UserLastModificationId</td>
                                        <td>@paginatedRequirementDTO.lstRequirement[i]?.Title</td>
                                        <td>@((MarkupString)paginatedRequirementDTO.lstRequirement[i]?.Body)</td>
                                        <td>@paginatedRequirementDTO.lstRequirementState[i]?.Name</td>
                                        <td>@paginatedRequirementDTO.lstRequirementPriority[i]?.Name</td>
                                        <td>@paginatedRequirementDTO.lstUserEmployee[i]?.Email</td>
                                        <td>
                                            <div class="nav-item">
                                                <button class="btn btn-sm btn-outline-danger"
                                                        onclick=@(() => Delete(paginatedRequirementDTO.lstRequirement[i]!.RequirementId))>
                                                    <span class="fas fa-trash" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <div class="nav-item mt-2">
                                                <a class="btn btn-sm btn-outline-info"
                                                   href="FiyiRequirements/RequirementPage/@paginatedRequirementDTO.lstRequirement[i]?.RequirementId">
                                                    <span class="fas fa-pen" aria-hidden="true"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    @if (paginatedRequirementDTO != null)      
                    {
                        @for (int i = 0; i < paginatedRequirementDTO.lstRequirement.Count(); i++)
                        {
                            <div class="card shadow-lg mt-2">
                                <div class="card-body">
                                    <p><b>ID: </b>@paginatedRequirementDTO.lstRequirement[i]?.RequirementId</p>
                                        @if (@paginatedRequirementDTO.lstRequirement[i]!.Active)
                                        {
                                            <p>
                                                <b>Activo: </b>
                                                <span class="badge rounded-pill bg-success">
                                                    Sí
                                                </span>
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                            <b>Activo: </b>
                                                <span class="badge rounded-pill bg-danger">
                                                    No
                                                </span>
                                            </p>
                                        }
                                    <p><b>Fecha de creación: </b>@paginatedRequirementDTO.lstRequirement[i]?.DateTimeCreation</p>
                                    <p><b>Fecha de última modificación: </b>@paginatedRequirementDTO.lstRequirement[i]?.DateTimeLastModification</p>
                                    <p><b>ID del usuario creador: </b>@paginatedRequirementDTO.lstRequirement[i]?.UserCreationId</p>
                                    <p><b>ID del último usuario modificador: </b>@paginatedRequirementDTO.lstRequirement[i]?.UserLastModificationId</p>
                                    <p><b>Título: </b>@paginatedRequirementDTO.lstRequirement[i]?.Title</p>
                                    <div><b>Cuerpo: </b>@((MarkupString)paginatedRequirementDTO.lstRequirement[i]?.Body)</div>
                                    <p><b>Estado: </b>@paginatedRequirementDTO.lstRequirementState[i]?.Name</p>
                                    <p><b>Prioridad: </b>@paginatedRequirementDTO.lstRequirementPriority[i]?.Name</p>
                                    <p><b>Empleado asignado: </b>@paginatedRequirementDTO.lstUserEmployee[i]?.Email</p>
                                        
                                </div>
                                <div class="card-footer text-body-secondary">
                                    <div class="row">
                                        <div class="col-10">
                                            &nbsp;
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-lg btn-outline-danger"
                                                    onclick=@(() => Delete(paginatedRequirementDTO.lstRequirement[i]!.RequirementId))>
                                                <span class="fas fa-trash" aria-hidden="true"></span>
                                            </button>
                                            <a class="btn btn-lg btn-outline-info"
                                               href="FiyiRequirements/RequirementPage/@paginatedRequirementDTO.lstRequirement[i]?.RequirementId">
                                                <span class="fas fa-pen" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item
                        @(paginatedRequirementDTO!.HasPreviousPage ? "" : "disabled")">
                            <button class="page-link"
                                    disabled="@(!paginatedRequirementDTO.HasPreviousPage)"
                                    @onclick="() => OnPreviousPage()">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                        </li>
                        @for (int i = 1; i <= paginatedRequirementDTO.TotalPages; i++)
                        {
                            int currentPage = i;
                            <li class="page-item
                            @(i == paginatedRequirementDTO.PageIndex ? "active" : "")">
                                <button class="page-link"
                                        onclick=@(() => OnPageSelected(currentPage))>
                                    @i
                                </button>
                            </li>
                        }
                        <li class="page-item
                        @(paginatedRequirementDTO.HasNextPage ? "" : "disabled")">
                            <button class="page-link"
                                    disabled="@(!paginatedRequirementDTO.HasNextPage)"
                                    @onclick="() => OnNextPage()">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <FiyiRequirements.Components.Layout.FooterDashboard></FiyiRequirements.Components.Layout.FooterDashboard>
</div>

@code {
    #region Properties
    public List<folderForDashboard> lstFoldersAndPages = new();

    public int TotalRows { get; set; } = 0;

    public string? ChosenView { get; set; }

    public bool checkStrict { get; set; }

    public string TextToSearch { get; set; } = "";

    public string Message { get; set; } = "";

    public bool ShowDownloadButtonForExcel { get; set; }
    public bool ShowDownloadButtonForPDF { get; set; }
    public bool ShowDownloadButtonForCSV { get; set; }

    public string? DownloadPathForExcel { get; set; }
    public string? DownloadPathForPDF { get; set; }
    public string? DownloadPathForCSV { get; set; }

    public User User = new();

    public Requirement Requirement { get; set; } = new();

    public int RequirementStateId { get; set; } = 0;

    paginatedRequirementDTO paginatedRequirementDTO = new();

    public List<FiyiRequirements.Areas.FiyiRequirements.Entities.RequirementState> lstState = [];
    #endregion

    protected override void OnInitialized()
    {
        try
        {
            //Look for saved user in shared component, simulates a session
            User = StateContainer.User == null ? new() : StateContainer.User;

            lstFoldersAndPages = [];

            paginatedRequirementDTO = new();
            paginatedRequirementDTO.lstRequirement = [];

            if (User != null)
            {
                if (User.UserId != 0)
                {
                    //Logged user
                    if (User.RoleId != 1) //Only Root can access
                    {
                        NavigationManager.NavigateTo("403");
                    }

                    List<Menu> lstMenu = menuRepository
                                            .GetAll();

                    lstFoldersAndPages = rolemenuRepository
                                            .GetAllPagesAndFoldersForDashboardByRoleId(User.RoleId);

                    paginatedRequirementDTO = requirementRepository
                                                .GetAllByTitlePaginatedAndOtherFilters(
                                                    "",
                                                    checkStrict,
                                                    1,
                                                    15,
                                                    RequirementStateId);

                    TotalRows = requirementRepository
                                    .Count();

                    ChosenView = "list";

                    lstState = requirementStateRepository.GetAll();
                }
                else
                {
                    //Not logged user

                    //Redirect to...
                    NavigationManager.NavigateTo("Login");
                }
            }
            else
            {
                //Impossible
            }

            base.OnInitialized();
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            Message = $@"<div class=""alert alert-danger text-white font-weight-bold"" role=""alert"">
                                Hubo un error. Intente nuevamente. Mensaje del error: {ex.Message}
                            </div>";
        }

    }

    #region Events
    private async Task RequirementStateIdChanged(ChangeEventArgs args)
    {
        try
        {
            RequirementStateId = Convert.ToInt32(args.Value);

            //Basic configuration
            Message = "";

            paginatedRequirementDTO = requirementRepository
                                        .GetAllByTitlePaginatedAndOtherFilters(
                                            TextToSearch,
                                            checkStrict,
                                            1,
                                            15,
                                            RequirementStateId);

            TotalRows = requirementRepository
                            .Count();

            //Re-render the page
            await InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
        }
        catch (Exception ex)
        {
            Failure failure = new()
                {
                    Active = true,
                    DateTimeCreation = DateTime.Now,
                    DateTimeLastModification = DateTime.Now,
                    UserCreationId = 1,
                    UserLastModificationId = 1,
                    EmergencyLevel = 1,
                    Comment = "",
                    Message = ex.Message,
                    Source = ex.Source,
                    StackTrace = ex.StackTrace
                };

            failureRepository.Add(failure);

            Message = $@"<div class=""alert alert-danger text-white font-weight-bold"" role=""alert"">
                                Hubo un error. Intente nuevamente. Mensaje del error: {ex.Message}
                            </div>";
        }
    }

    private async Task SearchText(ChangeEventArgs args)
    {
        try
        {
            //Basic configuration
            Message = "";

            TextToSearch = args.Value.ToString();

            paginatedRequirementDTO = requirementRepository
                                        .GetAllByTitlePaginatedAndOtherFilters(
                                            TextToSearch,
                                            checkStrict,
                                            1,
                                            15,
                                            RequirementStateId);

            TotalRows = requirementRepository
                            .Count();

            //Re-render the page
            await InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            Message = $@"<div class=""alert alert-danger text-white font-weight-bold"" role=""alert"">
                                Hubo un error. Intente nuevamente. Mensaje del error: {ex.Message}
                            </div>";
        }

    }

    private async Task OnPreviousPage()
    {
        if (paginatedRequirementDTO.HasPreviousPage)
        {
            paginatedRequirementDTO = requirementRepository
                                        .GetAllByTitlePaginatedAndOtherFilters(
                                            TextToSearch,
                                            checkStrict,
                                            (paginatedRequirementDTO.PageIndex - 1),
                                            paginatedRequirementDTO.PageSize,
                                            RequirementStateId);
        }

        TotalRows = requirementRepository
                            .Count();

        //Re-render the page
        await InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private async Task OnPageSelected(int pageIndex)
    {
        paginatedRequirementDTO = requirementRepository
                                            .GetAllByTitlePaginatedAndOtherFilters(
                                                TextToSearch,
                                                checkStrict,
                                                pageIndex,
                                                paginatedRequirementDTO.PageSize,
                                                RequirementStateId);

        TotalRows = requirementRepository
                        .Count();

        //Re-render the page
        await InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private async Task OnNextPage()
    {
        if (paginatedRequirementDTO.HasNextPage)
        {
            paginatedRequirementDTO = requirementRepository
                                        .GetAllByTitlePaginatedAndOtherFilters(
                                            TextToSearch,
                                            checkStrict,
                                            (paginatedRequirementDTO.PageIndex + 1),
                                            paginatedRequirementDTO.PageSize,
                                            RequirementStateId);
        }

        TotalRows = requirementRepository
                            .Count();

        //Re-render the page
        await InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private async Task ChangeView(string chosenView)
    {
        ChosenView = chosenView;

        //Re-render the page
        await InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }

    private async Task Delete(int requirementId)
    {
        try
        {
            requirementRepository.DeleteByRequirementId(requirementId);

            paginatedRequirementDTO = requirementRepository
                                        .GetAllByTitlePaginatedAndOtherFilters(
                                            TextToSearch,
                                            checkStrict,
                                            1,
                                            15,
                                            RequirementStateId);

            TotalRows = requirementRepository
                                .Count();

            TextToSearch = "";

            Message = $@"<div class=""alert alert-success text-white font-weight-bold"" role=""alert"">
                                Register deleted correctly
                            </div>";

            //Re-render the page
            await InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            Message = $@"<div class=""alert alert-danger text-white font-weight-bold"" role=""alert"">
                                Hubo un error. Intente nuevamente. Mensaje del error: {ex.Message}
                            </div>";
        }
    }
    #endregion

    #region Conversions
    private async Task ConvertToExcel()
    {
        try
        {
            //Set initial state
            Message = "";

            using var Book = new XLWorkbook();

            DataTable dtRequirement = new DataTable();
            dtRequirement.TableName = "Requirement";

            //We define another DataTable dtRequirementCopy to avoid issue related to DateTime conversion
            DataTable dtRequirementCopy = new DataTable();
            dtRequirementCopy.TableName = "Requirement";

            #region Define columns for dtRequirementCopy
            DataColumn dtColumnRequirementIdFordtRequirementCopy = new DataColumn();
            dtColumnRequirementIdFordtRequirementCopy.DataType = typeof(string);
            dtColumnRequirementIdFordtRequirementCopy.ColumnName = "RequirementId";
            dtRequirementCopy.Columns.Add(dtColumnRequirementIdFordtRequirementCopy);

            DataColumn dtColumnActiveFordtRequirementCopy = new DataColumn();
            dtColumnActiveFordtRequirementCopy.DataType = typeof(string);
            dtColumnActiveFordtRequirementCopy.ColumnName = "Active";
            dtRequirementCopy.Columns.Add(dtColumnActiveFordtRequirementCopy);

            DataColumn dtColumnDateTimeCreationFordtRequirementCopy = new DataColumn();
            dtColumnDateTimeCreationFordtRequirementCopy.DataType = typeof(string);
            dtColumnDateTimeCreationFordtRequirementCopy.ColumnName = "DateTimeCreation";
            dtRequirementCopy.Columns.Add(dtColumnDateTimeCreationFordtRequirementCopy);

            DataColumn dtColumnDateTimeLastModificationFordtRequirementCopy = new DataColumn();
            dtColumnDateTimeLastModificationFordtRequirementCopy.DataType = typeof(string);
            dtColumnDateTimeLastModificationFordtRequirementCopy.ColumnName = "DateTimeLastModification";
            dtRequirementCopy.Columns.Add(dtColumnDateTimeLastModificationFordtRequirementCopy);

            DataColumn dtColumnUserCreationIdFordtRequirementCopy = new DataColumn();
            dtColumnUserCreationIdFordtRequirementCopy.DataType = typeof(string);
            dtColumnUserCreationIdFordtRequirementCopy.ColumnName = "UserCreationId";
            dtRequirementCopy.Columns.Add(dtColumnUserCreationIdFordtRequirementCopy);

            DataColumn dtColumnUserLastModificationIdFordtRequirementCopy = new DataColumn();
            dtColumnUserLastModificationIdFordtRequirementCopy.DataType = typeof(string);
            dtColumnUserLastModificationIdFordtRequirementCopy.ColumnName = "UserLastModificationId";
            dtRequirementCopy.Columns.Add(dtColumnUserLastModificationIdFordtRequirementCopy);

            DataColumn dtColumnTitleFordtRequirementCopy = new DataColumn();
            dtColumnTitleFordtRequirementCopy.DataType = typeof(string);
            dtColumnTitleFordtRequirementCopy.ColumnName = "Title";
            dtRequirementCopy.Columns.Add(dtColumnTitleFordtRequirementCopy);

            DataColumn dtColumnBodyFordtRequirementCopy = new DataColumn();
            dtColumnBodyFordtRequirementCopy.DataType = typeof(string);
            dtColumnBodyFordtRequirementCopy.ColumnName = "Body";
            dtRequirementCopy.Columns.Add(dtColumnBodyFordtRequirementCopy);

            DataColumn dtColumnRequirementStateIdFordtRequirementCopy = new DataColumn();
            dtColumnRequirementStateIdFordtRequirementCopy.DataType = typeof(string);
            dtColumnRequirementStateIdFordtRequirementCopy.ColumnName = "RequirementStateId";
            dtRequirementCopy.Columns.Add(dtColumnRequirementStateIdFordtRequirementCopy);

            DataColumn dtColumnRequirementPriorityIdFordtRequirementCopy = new DataColumn();
            dtColumnRequirementPriorityIdFordtRequirementCopy.DataType = typeof(string);
            dtColumnRequirementPriorityIdFordtRequirementCopy.ColumnName = "RequirementPriorityId";
            dtRequirementCopy.Columns.Add(dtColumnRequirementPriorityIdFordtRequirementCopy);

            DataColumn dtColumnUserEmployeeIdFordtRequirementCopy = new DataColumn();
            dtColumnUserEmployeeIdFordtRequirementCopy.DataType = typeof(string);
            dtColumnUserEmployeeIdFordtRequirementCopy.ColumnName = "UserEmployeeId";
            dtRequirementCopy.Columns.Add(dtColumnUserEmployeeIdFordtRequirementCopy);

            
            #endregion

            dtRequirement = requirementRepository.GetAllInDataTable();

            foreach (DataRow DataRow in dtRequirement.Rows)
            {
                dtRequirementCopy.Rows.Add(DataRow.ItemArray);
            }

            var Sheet = Book.Worksheets.Add(dtRequirementCopy);

            Sheet.ColumnsUsed().AdjustToContents();

            DownloadPathForExcel = $@"wwwroot/Downloads/ExcelFiles/{DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss_fff")}.xlsx";
            Book.SaveAs(DownloadPathForExcel);

            //Delete wwwroot from path to download correctly
            DownloadPathForExcel = DownloadPathForExcel.Replace("wwwroot", "");

            ShowDownloadButtonForExcel = true;

            //Re-render the page
            await InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);

        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);
                        
            Message = $@"<div class=""alert alert-danger text-white font-weight-bold"" role=""alert"">
                                Hubo un error. Intente nuevamente. Mensaje del error: {ex.Message}
                            </div>";
        }
    }

    private async Task ConvertToCSV()
    {
        try
        {
            //Set initial state
            Message = "";

            List<Requirement?> lstRequirement = requirementRepository
                                    .GetAll();

            DownloadPathForCSV = $@"wwwroot/Downloads/CSVFiles/{DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss_fff")}.csv";

            using (var Writer = new StreamWriter(DownloadPathForCSV))
            using (var CsvWriter = new CsvWriter(Writer,
                CultureInfo.InvariantCulture))
            {
                CsvWriter.WriteRecords(lstRequirement);
            }

            //Delete wwwroot from path to download correctly
            DownloadPathForCSV = DownloadPathForCSV.Replace("wwwroot", "");

            ShowDownloadButtonForCSV = true;

            //Re-render the page
            await InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);             
        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);
            
            Message = $@"<div class=""alert alert-danger text-white font-weight-bold"" role=""alert"">
                                Hubo un error. Intente nuevamente. Mensaje del error: {ex.Message}
                            </div>";
        }
    }

    private async Task ConvertToPDF()
    {
        try
        {
            //Set initial state
            Message = "";
            string ProjectName = "FiyiRequirements";
            string Table = "Requirement";
            var Renderer = new HtmlToPdf();
            string RowsAsHTML = "";

            List<Requirement> lstRequirement = requirementRepository
                                    .GetAll();

            DownloadPathForPDF = $@"wwwroot/Downloads/PDFFiles/{DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss_fff")}.pdf";

            foreach (Requirement? Requirement in lstRequirement)
            {
                RowsAsHTML += $@"{Requirement?.ToStringOnlyValuesForHTML()}";
            }

            Renderer.RenderHtmlAsPdf($@"<table cellpadding=""0"" cellspacing=""0"" border=""0"" width=""88%"" style=""width: 88% !important; min-width: 88%; max-width: 88%;"">
    <tr>
    <td align=""left"" valign=""top"">
        <font face=""'Source Sans Pro', sans-serif"" color=""#1a1a1a"" style=""font-size: 52px; line-height: 55px; font-weight: 300; letter-spacing: -1.5px;"">
            <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #1a1a1a; font-size: 52px; line-height: 55px; font-weight: 300; letter-spacing: -1.5px;"">{ProjectName}</span>
        </font>
        <div style=""height: 25px; line-height: 25px; font-size: 23px;"">&nbsp;</div>
        <font face=""'Source Sans Pro', sans-serif"" color=""#4c4c4c"" style=""font-size: 36px; line-height: 45px; font-weight: 300; letter-spacing: -1px;"">
            <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #4c4c4c; font-size: 36px; line-height: 45px; font-weight: 300; letter-spacing: -1px;"">Registers of {Table}</span>
        </font>
        <div style=""height: 35px; line-height: 35px; font-size: 33px;"">&nbsp;</div>
    </td>
    </tr>
</table>
<br>
<table cellpadding=""0"" cellspacing=""0"" border=""0"" width=""100%"" style=""width: 100% !important; min-width: 100%; max-width: 100%;"">
    <tr>
        <th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">RequirementId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">Active&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">DateTimeCreation&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">DateTimeLastModification&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">UserCreationId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">UserLastModificationId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">Title&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">Body&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">RequirementStateId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">RequirementPriorityId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th><th align=""left"" valign=""top"" style=""border-width: 1px; border-style: solid; border-color: #e8e8e8; border-top: none; border-left: none; border-right: none;"">
            <font face=""'Source Sans Pro', sans-serif"" color=""#000000"" style=""font-size: 20px; line-height: 28px; font-weight: 600;"">
                <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px; font-weight: 600;"">UserEmployeeId&nbsp;&nbsp;&nbsp;</span>
            </font>
            <div style=""height: 10px; line-height: 10px; font-size: 8px;"">&nbsp;</div>
        </th>
    </tr>
    {RowsAsHTML}
</table>
<br>
<font face=""'Source Sans Pro', sans-serif"" color=""#868686"" style=""font-size: 17px; line-height: 20px;"">
    <span style=""font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #868686; font-size: 17px; line-height: 20px;"">Printed on: {DateTime.Now}</span>
</font>
").SaveAs(DownloadPathForPDF);

            ShowDownloadButtonForPDF = true;

            //Delete wwwroot from path to download correctly
            DownloadPathForPDF = DownloadPathForPDF.Replace("wwwroot", "");

            //Re-render the page
            await InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);

        }
        catch (Exception ex)
        {
            Failure failure = new()
            {
                Active = true,
                DateTimeCreation = DateTime.Now,
                DateTimeLastModification = DateTime.Now,
                UserCreationId = 1,
                UserLastModificationId = 1,
                EmergencyLevel = 1,
                Comment = "",
                Message = ex.Message,
                Source = ex.Source,
                StackTrace = ex.StackTrace
            };

            failureRepository.Add(failure);

            Message = $@"<div class=""alert alert-danger text-white font-weight-bold"" role=""alert"">
                                Hubo un error. Intente nuevamente. Mensaje del error: {ex.Message}
                            </div>";
        }

    }
    #endregion
}

